@model Tribute_MVC.Models.User
@{
    Layout = "_beforeLogin";
}
<div>
    <form asp-action="Register" asp-controller="Admin" id="register" method="post" class="input-group">
        <input asp-for="UserName" type="text" class="input-field" id="username" name="UserName" placeholder="User Name" maxlength="30" required>
        <input asp-for="Email" type="email" class="input-field" id="email" name="Email" placeholder="Email Id" maxlength="40" required>
        <input asp-for="Password" type="password" class="input-field" id="password" name="Password" placeholder="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,14}" title="Must contain at least one  number and one uppercase and lowercase letter, and at least 8 and at most 14" required>
        <input type="password" class="input-field" id="ConfirmPassword" name="ConfirmPassword" placeholder="Confirm Password" required onkeyup="check()" />
        <span id="message"></span>
        <input asp-for="Mobile" type="tel" pattern="[0-9]{10}" title="Mobile Number must be of 10 digits" class="input-field" id="mobile"  name="Mobile" placeholder="Mobile Number" required>
        <br />
        <button type="submit" class="submit-btn">Register</button>
    </form>
    <span style="color:red" class="text-danger">
        @ViewBag.Error
    </span>
    <span style="color:lawngreen" class="text-success">
        @ViewBag.Success
    </span>
</div>

<script>
    var check = function () {
        if (document.getElementById('password').value ==
            document.getElementById('ConfirmPassword').value) {
            //document.getElementById('message').style.color = 'green';
            document.getElementById('message').innerHTML = '';
        } else {
            document.getElementById('message').style.color = 'red';
            document.getElementById('message').innerHTML = 'not matching';
        }
    }
</script>



