@model IEnumerable<Tribute_MVC.Models.Tribute>
@{

    ViewData["Title"] = "Home Page";
    Layout = null;
}
<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>Tribute Page</title>
    <link href="~/css/HomePage.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    @*<style>
            .portfolio-block {
                position: relative;
                text-align: center;
            }

                .portfolio-block img {
                    margin-bottom: 15px;
                }


            .portfolio-content {
                padding: 20px 0px 40px;
            }

            .work-cat {
                color: #007bff;
            }



            .overlay-content {
                position: absolute;
                content: "";
                margin-top: -15%;
                top: 50%;
                left: 40%;
                opacity: 0;
                visibility: hidden;
                -webkit-transition: all .3s ease-in-out;
                -o-transition: all .3s ease-in-out;
                transition: all .3s ease-in-out;
            }

                .overlay-content i {
                    width: 60px;
                    height: 60px;
                    display: block;
                    background: #fff;
                    text-align: center;
                    padding-top: 22px;
                    border-radius: 100%;
                }

            .portfolio-block:before {
                position: absolute;
                content: "";
                width: 100%;
                height: 100%;
                background: rgba(0,0,0,0.5);
                opacity: 0;
                visibility: hidden;
                -webkit-transition: all .3s ease-in-out;
                -o-transition: all .3s ease-in-out;
                transition: all .3s ease-in-out;
            }
        </style>*@
</head>
<body>
    <div class="container" style="max-width:100%!important">
        <div class="navbar">
            <a asp-action="Index" asp-controller="Home">
                <img src="~/Images/Logo2.png" class="logo" />
            </a>
            <nav>
                <ul>
                    <li>
                        <a asp-action="Login" asp-controller="Admin">Login</a>
                    </li>
                    <li>
                        <a asp-action="Register" asp-controller="Admin">SignUp</a>
                    </li>
                    <li>
                        <a asp-action="About" asp-controller="Home">Contact Us</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="row">
            <div class="col">
                <h1>Tribute</h1>
                <p>
                    Don't read success story, you will only get a message, Read failure stories,<br /> you will get some ideas to get success
                </p>
                <button onclick="location.href='@Url.Action("Login", "Admin")'" type="button">Explore new Tribute</button>
            </div>
            <div class="col1" style="margin-left:10%!important;">
                @foreach (var item in Model)
                {
                    <div class="col" style="float:left!important">
                        <div class="card">
                            <a asp-action="TributeInfo" asp-controller="Admin" asp-route-id="@item.TributeId">
                                <img src="~/Layout/img/@item.ImageUrl" style="max-width:150px;border-radius: 10px;">
                            </a>
                        </div>
                        <h5 style="color:white;text-align:center;cursor:pointer;margin-top:-20px!important;margin-right: 35px!important;" class="card-title">@item.Name</h5>
                    </div>
                }
            </div>
        </div>

    </div>
</body>
</html>
